# Python Sequence Types

## 1. List

### Defining Lists

In [1]:
x = [1, 2, 3, 4, 5]
y = ['apple', 'banana', 'orange']
z = [1, 'apple', True, 3.14]

In [2]:
print(z)

[1, 'apple', True, 3.14]

### Accessing List Items

In [3]:
x = [1, 2, 3, 4, 5]

In [4]:
print(x[0])

1

In [5]:
print(x[-1])

5

In [6]:
print(x[-2])

4

### Slicing Lists

In [7]:
x = [1, 2, 3, 4, 5]

In [9]:
variable[start index : stop index : step ]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2913764285.py, line 1)

In [10]:
print(x[0:3])

[1, 2, 3]

In [11]:
print(x[:3])

[1, 2, 3]

In [12]:
print(x[::2])

[1, 3, 5]

In [13]:
print(x[2:])

[3, 4, 5]

### Modifying Lists

In [14]:
x = [1, 2, 3, 4, 5]

x[2] = 10
print(x)

[1, 2, 10, 4, 5]

In [15]:
x = [1, 2, 3, 4, 5]

x.append(10)  # Adds an item to the end of the list
print(x)

[1, 2, 3, 4, 5, 10]

In [16]:
x = [1, 2, 3, 4, 5]

x.insert(2, "apple")  # Adds an item at a specific index in the list
print(x)

[1, 2, 'apple', 3, 4, 5]

In [17]:
x.remove("apple")  # Removes the first occurrence of the specified item from the list
print(x)

[1, 2, 3, 4, 5]

In [18]:
x.pop(1)  # Removes and returns the item at the specified index
print(x)  # If no index is specified, it removes and returns the last item in the list

[1, 3, 4, 5]

In [19]:
x.clear()  # Removes all items from the list
print(x)

[]

### List Methods

In [20]:
x = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

x.sort()  # Sorts the list in ascending order
print(x)

x.sort(reverse=True)  # Sorts the list in descending order
print(x)

x.reverse()  # Reverses the order of the items in the list
print(x)

index = x.index(1)  # Returns the index of the first occurrence of the specified item in the list
print(index)

count = x.count(1)  # Returns the number of times the specified item appears in the list
print(count)

[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]
[9, 6, 5, 5, 4, 3, 3, 2, 1, 1]
[1, 1, 2, 3, 3, 4, 5, 5, 6, 9]
0
2

## 2. Tuple

### Creating a Tuple:

In [21]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

### Accessing Tuple Elements

In [22]:
my_tuple = (1, 2, 3)
print(my_tuple[0])

1

### Slicing Tuples

In [23]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:3])

(2, 3)

### Tuples are immutable

In [24]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

### Tuple Methods

In [25]:
my_tuple = (1, 2, 3, 2, 4, 2)

print(my_tuple.count(2))  # Returns the number of occurrences of a specified element in a tuple
print(my_tuple.index(3))  # Returns the index of the first occurrence of a specified element in a tuple

3
2

# Python Set Type

## Creating a Set

In [26]:
# Creating a set with curly braces
my_set = {1, 2, 3, 4}

# Creating a set with the set() constructor
my_set = set([1, 2, 3, 4])

## Set Operations

In [27]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [28]:
set3 = set1.union(set2)  # Union of two sets
print(set3)

{1, 2, 3, 4, 5, 6}

In [29]:
set4 = set1.intersection(set2)  # Intersection of two sets
print(set4)

{3, 4}

In [30]:
set5 = set1.difference(set2)  # Difference of two sets
print(set5)

{1, 2}

In [31]:
set6 = set1.symmetric_difference(set2)  # Symmetric difference of two sets
print(set6)

{1, 2, 5, 6}

## Modifying Set

In [32]:
my_set = {1, 2, 3, 4}

In [33]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [34]:
my_set.remove(3)  # If the element does not exist, it will raise a KeyError
print(my_set)

{1, 2, 4, 5}

In [35]:
my_set.discard(5)  # Removes the specified element from a set
print(my_set)     # If the element does not exist, it will not raise an error

{1, 2, 4}

In [36]:
x = my_set.pop()  # Removes and returns an arbitrary element from a set
print(x)          # If the set is empty, it will raise a KeyError

1

In [37]:
my_set.clear()    # Removes all elements from a set
print(my_set)

set()

# Mapping Type

## Creating a Dictionary

In [38]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)  # {"name": "John", "age": 30, "city": "New York"}

person = dict(name="John", age=30, city="New York")
print(person)  # {"name": "John", "age": 30, "city": "New York"}

{'name': 'John', 'age': 30, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}

## Accessing Elements

In [39]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person["name"])
print(person["age"])
print(person["city"])

John
30
New York

In [40]:
print(person["gender"])  # KeyError: 'gender'

KeyError: 'gender'

In [41]:
print(person.get("gender", "male"))  # Specifying a default value "male"
print(person.get("name", "male"))

male
John

## Modifying Elements

In [42]:
person = {"name": "John", "age": 30, "city": "New York"}
person["age"] = 35
print(person)

person["gender"] = "male"  # Adding Element "gender"
print(person)

del person["city"]  # Deleting Element "city"
print(person)

{'name': 'John', 'age': 35, 'city': 'New York'}
{'name': 'John', 'age': 35, 'city': 'New York', 'gender': 'male'}
{'name': 'John', 'age': 35, 'gender': 'male'}

## Dictionary Methods

In [43]:
person = {"name": "John", "age": 30, "city": "New York"}

print(person.keys())  # Returns a view object that contains keys of the dictionary
print(person.values())  # Returns a view object that contains values of the dictionary
print(person.items())  # Returns a view object that contains key-value pairs of the dictionary as tuples

age = person.pop('age')  # Removes the key-value pair with the given key and returns the value
print(age)               # If the key is not found, a KeyError exception is raised.
print(person)

city = person.pop("city", "NYC")  # Providing a default value avoids the KeyError
print(city)

dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])
dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])
30
{'name': 'John', 'city': 'New York'}
New York

In [44]:
person = {"name": "John", "age": "30", "city": "New York"}

key_sorted = dict(sorted(person.items(), key=lambda item: item[0])) # Sort by Key
print(key_sorted)

value_sorted = dict(sorted(person.items(), key=lambda item: item[1])) # Sort by Value
print(value_sorted)

{'age': '30', 'city': 'New York', 'name': 'John'}
{'age': '30', 'name': 'John', 'city': 'New York'}

# Python Boolean Type

In [45]:
a = 5
b = 10
c = (a > b)
d = (a < b)

print(c)
print(d)

False
True

In [46]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)

False
True
False

In [47]:
x = 10
y = 0
s = "Hello"
t = ""

In [48]:
print(bool(x))         # True
print(bool(y))         # False
print(bool(s))         # True
print(bool(t))         # False

True
False
True
False

In [49]:
lst = [1, 2, 3]
empty_lst = []
dct = {"a": 1, "b": 2}
empty_dct = {}
obj = object()
none_obj = None

In [50]:
print(bool(lst))       # True
print(bool(empty_lst)) # False

True
False

In [51]:
print(bool(dct))       # True
print(bool(empty_dct)) # False

True
False

In [52]:
print(bool(obj))       # True
print(bool(none_obj))  # False

True
False

# Python Binary Type

In [53]:
# Create a bytes object from a string of binary data
b = b'\x00\x01\x02\x03\x04\x05'

# Create a bytes object from a list of integers representing the binary data
b = bytes([0, 1, 2, 3, 4, 5])

# Create a bytearray object from a string of binary data
ba = bytearray(b'\x00\x01\x02\x03\x04\x05')

# Create a bytearray object from a list of integers representing the binary data
ba = bytearray([0, 1, 2, 3, 4, 5])

In [54]:
b = b'\x00\x01\x02\x03\x04\x05'

print(b[0])  # 0
print(b[1])  # 1
print(b[2])  # 2

0
1
2

In [55]:
b = b'\x00\x01\x02\x03\x04\x05'

print(b.hex())  # "000102030405"

000102030405

In [56]:
s = "Hello, World!"

b = s.encode()
print(b)

t = b.decode()
print(t)

b'Hello, World!'
Hello, World!

In [57]:
s = "résumé"
b = s.encode('ascii')

print(b)  # Raises a UnicodeEncodeError

UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 1: ordinal not in range(128)

In [58]:
s = "résumé"
b = s.encode('utf-8')

print(b)  # b'r\xc3\xa9sum\xc3\xa9'

b'r\xc3\xa9sum\xc3\xa9'