# Python Conditional Statements

In [1]:
x = -10

if x > 0:
    print("x is positive")

print(f"Given Number is {x}")

Given Number is -10

In [2]:
x = 10
y = 5

if x > 0 and y > 0:
    print("Both x and y are positive")

Both x and y are positive

In [3]:
x = -10

if x > 0:
    print("number is pos")
    
else:
    print("number is neg")

number is neg

In [4]:
x = 10

if x < 0:
    print("x is negative")
    
elif x == 0:
    print("x is zero")
    
else:
    print("x is positive")

x is positive

## WAP to check if number is positive, negative or zero.

In [2]:
x = int(input("Enter a number"))

if x > 0:
    print(f"Given number {x} is positive")
    if x >= 100:
        print("Higher positive number")
    else:
        print("Lower positive number")
        
elif x < 0:
    print(f"Given number {x} is negative")
else:
    print(f"Given number {x} is zero")

Enter a number 200

Given number 200 is positive
Higher positive number

## WAP to grade a number (100-80) Grade A, (80-60) Grade B , (60-40) Grade C and less than 40 Grade D.

In [3]:
marks = int(input("Enter your marks."))

if marks <= 100 and marks > 80:    
    print("Grade A")
    
elif marks <= 80 and marks > 60:    
    print("Grade B")
    
elif marks <= 60 and marks> 40:    
    print("Grade C") 

else:
    print("Grade D")

Enter your marks. 50

Grade C

# Python Loop Statements

## 1. Python For Loop

In [4]:
fruits = ['apple', 'banana', 'cherry' , 'pineapple']

for fruit in fruits:
    print(fruit)

apple
banana
cherry
pineapple

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']

for a in adj:
    for f in fruits:
        print(a, f)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Write a Program to Calculate the Sum of the First N Natural Numbers:

In [8]:
num = int(input("Enter a number"))
# 100

sum = 0
for value in range(num + 1):
    sum = sum + value

print(f"Sum of {num} numbers is {sum}")

Enter a number 50

Sum of 50 numbers is 1275

## Write a Program to Display the Multiplication Table of a Given Number:

In [9]:
number = int(input("enter the number:"))

for i in range (1,11):
    product = number*i
    print(f'{number} x {i} = {product}')

enter the number: 13

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [10]:
# *
# **
# ***
# ****
a = "#"

for i in range(1,8):
    res = a * i
    print(res)

#
##
###
####
#####
######
#######

## 2. Python While Loop

In [2]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [3]:
# i = 0

# while i < 5:
#   print(i)
# infinite loop

In [4]:
count = 0

while count < 10:
    print(count)
    count += 1
    # count = count + 1

0
1
2
3
4
5
6
7
8
9

In [5]:
count = 0

while count < 10:
    print(count)
    count += 1
    if count == 5:
        break

0
1
2
3
4

## Write a Program to Calculate the Sum of the First N Natural Numbers:

In [6]:
num = int(input("Enter a number"))
# 100

sum = 0

i = 1
while i <= num:
    sum = sum + i
    i += 1
    
print(f"Sum of {num} numbers is {sum}")

Enter a number 100

Sum of 100 numbers is 5050

## Write a Program to Display the Multiplication Table of a Given Number:

In [7]:
mul = int(input("enter the number"))

i = 1

while i<= 10:  
    
    result = mul * i    
    
    print (f"{mul} x {i} = {result}") 
    
    i = i + 1

print("finished")

enter the number 13

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
finished